h1 {font-size: 20px;font-weight: bold;}
h2 {font-size: 16px;font-weight: bold;}
h3 {font-size: 14px;font-weight: bold;}
strong {font-weight: bold;display: inline;}
em {font-style: italic;display: inline;}
a {text-decoration: underline;}
.underline {text-decoration: underline;}